{{ $projectName := site.Params.projectName }}
{{ $year := now.Year }}
{{ $social := site.Params.social }}

<footer class="text-light bg-dark" style="padding: 20px 0; text-align: center;">
  <div class="container">

    <div style="margin-bottom: 20px;">
      <i class="fab fa-github" style="font-size: 24px;"></i>
    </div>

    {{ with $social }}
    <div style="margin-bottom: 20px;">
      {{ partial "social-buttons.html" . }}
    </div>
    {{ end }}

    <p style="margin-top: 20px;">
      &copy; {{ $year }} SGNL.ai, Inc.
    </p>
  </div>
</footer>